html {
  font-size: 20px;
}

body {
  background-color: rgb(245, 245, 220);
  font: normal normal normal 20px sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
  "wdth" 100;
  color: rgb(14, 95, 6);

}

h1, h2, h3, h4, h5 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: rgb(47, 79, 79);
}

h1 {
  font-size: 3rem;
  margin: 25px 0;
}

h2 {
  font-size: 2rem;
  margin: 16px 0;
}

h3 {
  font-size: 1.5rem;
  margin: 16px 0;
}

h4 {
  font-size: 1rem;
  margin: 16px 0;
}

h5 {
  font-size: 0.5rem;
  margin: 16px 0;
}

p {
  font-size: 1rem;
  margin: 16px 0;
}
